/* CSS code for the normal table. This is the file that I'll use for now on for this project. */
.center {
  text-align: center;
  list-style-position: inside;
}

.heading_color {
  color: #a9a937;
}

#indent_me {
  text-indent: 50px;
}

#indent_title {
  text-indent: 50px;
}

.indent_contacts {
  text-indent: 50px;
}

div {
  text-transform: uppercase;
  color: red;
}

h1 {
  text-align: center;
}

#title {
  text-transform: capitalize;
}

p,
a {
  color: #a9a937;
}

li {
  display: list-item;
  padding: 10px 30px;
}

.none {
  text-decoration: none;
}

h3 {
  color: #a9a937;
}

table,
th,
td {
  border: 1px solid grey;
  background-color: #a9a937;
  padding: 10px;
  border-width: initial;
}

#meat_option_title {
  text-align: center;
}
